body,
html {
  font-family: "Roboto", sans-serif !important;
}

a {
  text-decoration: none;
}

.conteudo-pag {
  margin-top: -5%;
  align-items: center;
  display: flex;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../imagens/sessoes/sessao_um/fundo-sessao-1.png");
  background-repeat: no-repeat;
  /* background-position: center center; */
  /* background-attachment: fixed; */
  background-size: cover;
  background-color: #C53F3F;
}

#quadro1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#texto-1 {
  background-color: #C53F3F;
  width: 100%;
  height: 50vh;
  padding: 10%;
  display: table-cell;
  vertical-align: middle;
  display: flex;
  align-items: center;
  border-radius: 4em;  
}

#texto-1 > p {
  font-size: 3vh;
  color: white;
}

#img-1 {
  width: 100%;
  height: 80vh;
  background-image: url("../imagens/sessoes/sessao_um/pessoa-sessao-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 5%;
}

@media (min-width: 992px) {
  #logo-projeto {
    border-radius: 100%;
    width: 150%;
    height: 15vh;
  }
}

@media (max-width: 991px) {
  #logo-projeto {
    border-radius: 100%;
    width: 100%;
    height: 10vh;
  }
}

/* Style the footer */
footer {
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  padding-top: 2%;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}